* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #09090A;
    color: white;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    padding: 16px 24px;
    border: 1px solid #8B5CF6;
    border-radius: 8px;
    background-color: transparent;
    color: white;

    display: flex;
    align-items: center;
    font-family: 'Inter';
}